# 데이터 분석

In [69]:
import pandas as pd
import numpy as np

In [70]:
# 파일 불러오기

d_netflix = pd.read_csv("../Netflix_dataset/titles.csv")
d_hbo = pd.read_csv("../HBO_dataset/titles.csv")
d_apple = pd.read_csv("../AppleTV_dataset/titles.csv")
d_disney = pd.read_csv("../Disney_dataset/titles.csv")
d_paramount = pd.read_csv("../Paramount_dataset/titles.csv")
d_amazon = pd.read_csv("../Amazon_dataset/titles.csv")

In [71]:
# 주석 해제하여 데이터프레임 확인

# d_netflix
# d_hbo
# d_apple
# d_disney
# d_paramount
# d_amazon

In [90]:
from itertools import combinations # 조합

platforms_list = ["d_netflix", "d_hbo", "d_apple", "d_disney", "d_paramount", "d_amazon"]
platforms_dict = {"d_netflix" : d_netflix, 
                        "d_hbo" : d_hbo, 
                        "d_apple" : d_apple, 
                        "d_disney" : d_disney, 
                        "d_paramount" : d_paramount, 
                        "d_amazon" : d_amazon}

combination_platforms = list(combinations(platforms_list, 2))

print(combination_platforms)
print(len(combination_platforms))

merged_df_dict = {}

for index, pf in enumerate(combination_platforms): # pf: platform 2개가 들어있는 튜플
    merged_df_name = f"merged_df_{index+1}"
    print(f"index: {index+1}, pf: {pf}")
    merged_df = pd.merge(platforms_dict[pf[0]], platforms_dict[pf[1]], on="title")
    
    df_is_same = merged_df['description_x'] == merged_df['description_y']
    
    
    if True not in df_is_same.value_counts() and False not in df_is_same.value_counts():
        merged_df_dict[merged_df_name] = (0, 0)
    
    elif True not in df_is_same.value_counts():
        merged_df_dict[merged_df_name] = (0, df_is_same.value_counts()[False])

        # 
    elif False not in df_is_same.value_counts():
        merged_df_dict[merged_df_name] = (df_is_same.value_counts()[True], 0)

    else:
        merged_df_dict[merged_df_name] = (df_is_same.value_counts()[True], df_is_same.value_counts()[False])

# print("merged_df_dict", merged_df_dict)

for key, value in merged_df_dict.items():
    print(f"merged_df_dict: {key}, true num: {value[0]}, false num: {value[1]}")

[('d_netflix', 'd_hbo'), ('d_netflix', 'd_apple'), ('d_netflix', 'd_disney'), ('d_netflix', 'd_paramount'), ('d_netflix', 'd_amazon'), ('d_hbo', 'd_apple'), ('d_hbo', 'd_disney'), ('d_hbo', 'd_paramount'), ('d_hbo', 'd_amazon'), ('d_apple', 'd_disney'), ('d_apple', 'd_paramount'), ('d_apple', 'd_amazon'), ('d_disney', 'd_paramount'), ('d_disney', 'd_amazon'), ('d_paramount', 'd_amazon')]
15
index: 1, pf: ('d_netflix', 'd_hbo')
index: 2, pf: ('d_netflix', 'd_apple')
index: 3, pf: ('d_netflix', 'd_disney')
index: 4, pf: ('d_netflix', 'd_paramount')
index: 5, pf: ('d_netflix', 'd_amazon')
index: 6, pf: ('d_hbo', 'd_apple')
index: 7, pf: ('d_hbo', 'd_disney')
index: 8, pf: ('d_hbo', 'd_paramount')
index: 9, pf: ('d_hbo', 'd_amazon')
index: 10, pf: ('d_apple', 'd_disney')
index: 11, pf: ('d_apple', 'd_paramount')
index: 12, pf: ('d_apple', 'd_amazon')
index: 13, pf: ('d_disney', 'd_paramount')
index: 14, pf: ('d_disney', 'd_amazon')
index: 15, pf: ('d_paramount', 'd_amazon')
merged_df_dict {'merged_df_1': (9, 43), 'merged_df_2': (0, 1), 'merged_df_3': (5, 8), 'merged_df_4': (74, 44), 'merged_df_5': (147, 131), 'merged_df_6': (0, 2), 'merged_df_7': (4, 11), 'merged_df_8': (16, 27), 'merged_df_9': (31, 74), 'merged_df_10': (0, 0), 'merged_df_11': (1, 3), 'merged_df_12': (0, 3), 'merged_df_13': (4, 15), 'merged_df_14': (8, 47), 'merged_df_15': (1608, 108)}
merged_df_dict: merged_df_1, true num: 9, false num: 43
merged_df_dict: merged_df_2, true num: 0, false num: 1
merged_df_dict: merged_df_3, true num: 5, false num: 8
merged_df_dict: merged_df_4, true num: 74, false num: 44
merged_df_dict: merged_df_5, true num: 147, false num: 131
merged_df_dict: merged_df_6, true num: 0, false num: 2
merged_df_dict: merged_df_7, true num: 4, false num: 11
merged_df_dict: merged_df_8, true num: 16, false num: 27
merged_df_dict: merged_df_9, true num: 31, false num: 74
merged_df_dict: merged_df_10, true num: 0, false num: 0
merged_df_dict: merged_df_11, true num: 1, false num: 3
merged_df_dict: merged_df_12, true num: 0, false num: 3
merged_df_dict: merged_df_13, true num: 4, false num: 15
merged_df_dict: merged_df_14, true num: 8, false num: 47
merged_df_dict: merged_df_15, true num: 1608, false num: 108

In [76]:
# 제목이 같은 것만 추출
merged_df = pd.merge(d_netflix, d_apple, on="title")
merged_df

,id_x,title,type_x,description_x,release_year_x,age_certification_x,runtime_x,genres_x,production_countries_x,seasons_x,...,age_certification_y,runtime_y,genres_y,production_countries_y,seasons_y,imdb_id_y,imdb_score_y,imdb_votes_y,tmdb_popularity_y,tmdb_score_y
0,tm132273,Home,MOVIE,When Earth is taken over by the overly-confide...,2015,PG,94,"['fantasy', 'animation', 'comedy', 'family', '...",['US'],NaN,...,TV-PG,34,['documentation'],['US'],2.0,tt8068900,7.5,853.0,8.093,7.7

In [77]:
# title과 description이 모두 같은 row
df_same_discription = merged_df[merged_df['description_x'] == merged_df['description_y']]
df_same_discription

Empty DataFrame
Columns: [id_x, title, type_x, description_x, release_year_x, age_certification_x, runtime_x, genres_x, production_countries_x, seasons_x, imdb_id_x, imdb_score_x, imdb_votes_x, tmdb_popularity_x, tmdb_score_x, id_y, type_y, description_y, release_year_y, age_certification_y, runtime_y, genres_y, production_countries_y, seasons_y, imdb_id_y, imdb_score_y, imdb_votes_y, tmdb_popularity_y, tmdb_score_y]
Index: []

[0 rows x 29 columns]

In [78]:
df_is_same = merged_df['description_x'] == merged_df['description_y']
print("------ Nextflix와 HBO 데이터셋 비교 ------\n")
print("title과 description이 모두 같은 행의 개수: ", df_is_same.value_counts()[True])
print("title은 같지만 description이 다른 행의 개수: ", df_is_same.value_counts()[False])

------ Nextflix와 HBO 데이터셋 비교 ------

KeyError: True

-> decription이 다르므로, 각 플랫폼의 특성을 반영한 description이라 볼 수 있다.